@tailwind base;
@tailwind components;
@tailwind utilities;

/* Кастомные импорты */
@import './animations.css';
@import './transitions.css';


@layer base {
    body {
        @apply bg-background text-black font-sans;
    }

    .jp-text {
        @apply font-jp;
    }

    .onyomi {
        @apply text-onyomi;
    }

    .kunyomi {
        @apply text-kunyomi;
    }
}